<%= render 'shared/social_share_api' %>
<div class='col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2'>
  <%= render partial: 'shared/meta_tags', locals: { name: 'Which Pakistani cricketer you are?', description: 'Try it out to find which cricketer you can be.', url: pak_player_path } %>
  <%= render partial: 'shared/social_sharing', locals: { url: pak_player_path, name: 'Which Pakistani cricketer you are?', photo_url: image_url(image), description: 'Try it out to find which cricketer you can be.', twitter_text: 'Which Pakistani cricketer you are?' } %>
  <h2>You are <strong><%= result['name'] %></stromg></h2>
</div>
<div class='col-xs-12 col-sm-6 col-md-6 col-lg-6 col-md-offset-3'>
  <div class='describe-img'><%= image_tag(result['image']) %></div>
</div>
<div class='col-xs-12 col-sm-8 col-md-8 col-lg-8 col-md-offset-2 col-centered'>
  <div class='pak-player-result-desc'><%= result['description'] %></div>
</div>
